
body {
    min-width: 960px;
    margin: 0;
    font-size: 16px;
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    color: black;
    font-weight: normal;
    background:rgba(204, 209, 198, 0.3);
    position: relative; 
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PT_Sans/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PT_Sans/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Cuprum';
    src: url('../fonts/Cuprum/Cuprum-Regular.woff2') format('woff2'),
        url('../fonts/cuprum/Cuprum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }
    
  /* @font-face {
    font-family: 'Cuprum';
    src: url('../fonts/Cuprum/Cuprum-Bold.woff2') format('woff2'),
        url('../fonts/cuprum/Cuprum-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  } */
  
  .container {
    width: 940px;
  
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
 
}




.main-header {
    -webkit-box-shadow: 2px 2px 2px grey;
    box-shadow: 2px 2px 2px grey;
    border: 2px solid silver;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d3ec9), to(#302683));
    background-image: linear-gradient(#4d3ec9, #302683); 
    position: relative;
    
}
.main-header::after {
    content:"";
    position:absolute;
    background: url("../img/star.png");
    opacity: 0.2;
    top:0px;
    left:0px;
    color: white;
    width: 100%;
    height: 100%;
  
}

a {
    color:black;
    text-decoration: none;
}

li {
    list-style-type: none;
}


.up-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #302683;
    -ms-flex-pack: distribute;
    justify-content: space-between;
   
    
}


.header-title {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    font-size: 29px;
}


.header-title::before {
    content:"";
    position:absolute;
    background: url("../img/shariki.png") no-repeat;
    top:10px;
    left:-40px;
    color: white;
    width: 30px;
    height: 30px;
}


.login-open {
    font-size: 1em;
     font-family: "Cuprum", "PT Sans", Arial, sans-serif; 
    width: 80px;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    border-radius: 1px;
    text-align: center;
    position: relative;
    border: 1px solid silver;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d3ec9), to(#302683));
    background-image: linear-gradient(#4d3ec9, #302683);
    z-index: 60;
    border: 1px solid transparent;

}

.header-links {
    margin-right: 25px; 
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.footer-link {
    margin-right: 5px; 
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.logo-img {
    width:184px;
    object-fit: contain;
    height: 103px;
}

.add-artist {
    font-size: 1em;
    padding: 10px;
    color: black;
    border-radius: 1px;
    text-transform: uppercase; 
    text-align: center;
    position: relative;
    border: 1px solid silver;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d3ec9), to(#302683));
    background-image: linear-gradient(#4d3ec9, #302683);
    z-index: 60;
    border: 1px solid transparent;
    background: rgba(13,255,33,1);
    
}

.header-title__link {
    position: relative;
    z-index: 15;
}

.add-artist:hover,
.login-open:hover {
    color: white;
    border: 1px solid silver;
    border-radius: unset;
    background: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
   
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.left-column {
    margin-top: 20px;
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
    width: 230px;
}

.left-column ul {
    padding-left: 0;
    position: relative;
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
}

.left-column li {
    background-color: rgb(78, 181, 67); 
    margin-bottom: 10px;
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
    line-height: 2;
    border: 2px solid #d7eb9c; 
    padding: 5px;
    list-style-type: none;
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;

}
   
.left-column .li-active {  
    /* background: #ff5c8f;    */
    background-color: #00ad7a;   
    filter: hue-rotate(180deg); 
    
 /* background: #ff5c8f;   */
    /* Для Миши */
 }

.pop-up-login {
    overflow: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: auto;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 300px;
    background: gainsboro;
    display: none;
    z-index: 1010;
}

.login-label {
    margin-right: 8px;

}


.closed {
    display: block;
}

#overlay {
    
    z-index: 398;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    height: 95%;
    overflow-y: auto;
}


.login-close {
    cursor: pointer;
    display: flex;
    margin-left: 280px;
    padding: 3px 11px;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    font-size: 20px;
    color:white;
}

.login-send-btn {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    padding: 5px 50px;
    color: white;
    margin-left: 90px;
    margin-top: 10px;
}

.send-btn2 {
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    padding: 5px 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.send-btn3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    padding: 5px 20px;
    color: white;
    display: block;  
    margin: 0 auto; 
    margin-top: 20px;
}


.send-btn3:hover,
.send-btn2:hover,
.login-send-btn:hover,
.login-close:hover {
    filter: hue-rotate(230deg);
}

.parol-reset-form {
   margin: 0 auto;
   
}

.new-parol {
    padding-right: 10px;
}


.parol-reset {
    margin: 0 auto;
    width: 400px;
}
.pop-up-login label {
    margin-left: 10px;
    color: gray;
}

.login-input {
    margin-top: 10px;
    width: 240px;
    height: 40px;
    color: gray;
}

.left-column a {
    color: white;
    position: relative;
}


.left-column li:nth-child(1)::before {
    content: "";
    position: absolute;
    background: url("../img/dictor30.png") no-repeat;
    top: 12px;
    left: 14px;
    width: 30px;
    height: 30px;
}

.left-column li:nth-child(2)::before {
    content: "";
    position: absolute;
    background: url("../img/guitar130.png") no-repeat;
    top: 72px;
    left: 14px;
    width: 30px;
    height: 30px;
}

.left-column li:nth-child(3)::before {
    content: "";
    position: absolute;
    background: url("../img/vocal30.png") no-repeat;
    top: 140px;
    left: 14px;
    width: 30px;
    height: 30px;
}

.left-column li:nth-child(4)::before {
    content: "";
    position: absolute;
    background: url("../img/sax30.png") no-repeat;
    top: 203px;
    left: 14px;
    width: 30px;
    height: 30px;
}

.left-column li:nth-child(5)::before {
    content: "";
    position: absolute;
    background: url("../img/dj30.png") no-repeat;
    top: 267px;
    left: 14px;
    width: 30px;
    height: 30px;
}
.left-column li:nth-child(6) {
    font-size: 1.1em;
}
.left-column li:nth-child(6)::before {
    content: "";
    position: absolute;
    background: url("../img/hat.png") no-repeat;
    top: 322px;
    left: 14px;
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}

.left-column li:nth-child(7)::before {
    content: "";
    position: absolute;
    background: url("../img/dance.png") no-repeat;
    top: 395px;
    left: 10px;
    width: 20px;
    height: 20px;
}

.left-column li:nth-child(8) {
    font-size: 1em;
}

.left-column li:nth-child(8)::before {
    content: "";
    position: absolute;
    background: url("../img/accordeon-15b.png") no-repeat;
    top: 451px;
    left: 13px;
    width: 30px;
    height: 30px;
}


.left-column li:nth-child(8):hover::before {
    cursor: pointer;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    content: "";
    position: absolute;
    background: url("../img/Accordion.png") no-repeat;
    top: 444px;
    left: 87px;
    width: 30px;
    height: 30px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
}

.left-column li:nth-child(9)::before {
    content: "";
    position: absolute;
    background: url("../img/hourse.png") no-repeat;
    top: 512px;
    left: 8px;
    width: 30px;
    height: 30px;
}

.left-column li:nth-child(10) {
    background: url("../img/new3.png") no-repeat 19px 8px;
    background-color: #4eb543;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.btn-artist::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: white;
    opacity: 0;
    top: 23px;
    left: 0px;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.4s;
    transition: opacity 0.5s, -webkit-transform 0.4s;
    transition: opacity 0.5s, transform 0.4s;
    transition: opacity 0.5s, transform 0.4s, -webkit-transform 0.4s;
}

.btn-artist:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    opacity: 1;
    top: 23px;
    left: 0px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
}

.left-column li:nth-child(10):hover {
    background: url("../img/new3.png") 19px 8px no-repeat, #00ad7a;
}

.hot-new::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: white;
    opacity: 0;
    top: 23px;
    left: 0px;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.4s;
    transition: opacity 0.5s, -webkit-transform 0.4s;
    transition: opacity 0.5s, transform 0.4s;
    transition: opacity 0.5s, transform 0.4s, -webkit-transform 0.4s;
}

.hot-new:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    opacity: 1;
    top: 23px;
    left: 0px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
}

.left-column li:nth-child(11)::before {
    content: "";
    position: absolute;
    background: url("../img/circus.png") no-repeat;
    top: 642px;
    left: 11px;
    width: 30px;
    height: 30px;
}
.left-column li:nth-child(12) {
    font-size: 1.1em;
}

.left-column li:nth-child(13)::before {
    content: "";
    position: absolute;
    background: url("../img/cat30.png") no-repeat;
    top: 762px;
    left: 14px;
    width: 30px;
    height: 30px;
}

.left-column li:nth-child(14)::before {
    content: "";
    position: absolute;
    background: url("../img/other1.png") no-repeat;
    bottom: 79px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.left-column li:nth-child(15)::before {
    content: "";
    position: absolute;
    background: url("../img/other.png") no-repeat;
    bottom: 12px;
    left: 15px;
    width: 30px;
    height: 30px;
}




.left-column li:hover {
    background: #00ad7a;
    border: 2px solid #00ad7a;
    /* border-right: 2px solid #00ad7a;
    border-left: 1px solid #00ad7a;
    border-bottom: 2px solid #00ad7a;   */
    color: white;
}

.center-column-top {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.search-form {
    min-width: 350px;
}

.find-button {
    margin-top: 70px;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: center;
}

.find {
    -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    border: 2px solid silver;
    padding: 10px 40px;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.find:hover {
    background: #00ad7a;
    -webkit-transition-property: background, color;
    transition-property: background, color;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.center-column-2 {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
}

.center-column-2 img {
    margin-bottom: 20px;
    margin-left: 0px;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    overflow: hidden;
    width: 210px;
    height: 140px;
}

.img-wrapper {
    overflow: hidden;
    width: 210px;
    height: 140px;
    margin-bottom: 20px;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.center-column-2 img:hover {
    width: 210px;
    height: 140px;
    overflow: hidden;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    /*opacity: 0.6;*/
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 210px;
    height: 140px;
}

@-webkit-keyframes rotate-colors {
    100% {
        -webkit-filter: hue-rotate(360deg);
                filter: hue-rotate(360deg);
    }
}

@keyframes rotate-colors {
    100% {
        -webkit-filter: hue-rotate(360deg);
                filter: hue-rotate(360deg);
    }
}

.title-btn {
    color: white;
    text-align: center;
    font-family: "PT Sans";
    font-weight: bold;
    margin-bottom: 0;
    border-radius: 20px;
    padding: 3px;
    line-height: 30px;
    -webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
            box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
}

.find-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: "PT Sans";
    font-weight: bold;
    border-radius: 20px;
    padding: 3px;
    line-height: 30px;
    -webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
            box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    position: relative;
}

.find-title:hover {
    color: #fce8f3;
    background: #de0000;
}

.promo-text-1 {
    line-height: 30px;
    font-size: 20px;
    padding-bottom: 20px;
    border-top: 2px solid gray;
    padding-top: 20px;
    text-indent: 40px;
    margin-bottom: 0px;
}

.footer-wrapper {
    background: blue;
    -webkit-box-shadow: 2px 2px 10px;
            box-shadow: 2px 2px 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, blue), color-stop(10%, #302683));
    background-image: linear-gradient(blue 10%, #302683 10%);
    border-top: 2px solid silver;

}

.footer-title {
    color: white;
}

.contact {
    color: white;
}

.contact a {
    color: white;
}

label {
    cursor: pointer;
}

.center-column label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 10px;
    width: 20px;
    height: 20px;
    border: 3px solid #525d5e;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}

.center-column input[type="checkbox"] {
    display: none;
}

.center-column li {
    color: #353b3d;
    margin-bottom: 10px;
    font-size: 19px;
    position: relative;
    -ms-flex-negative: 1;
        flex-shrink: 1;
}

.center-column label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.center-column input[type="checkbox"]:checked~label::before {
    width: 30px;
    height: 10px;
    border-color: #525d5e;
    border-top-style: none;
    border-right-style: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.center-column li:hover {
    color: #302683;
}

.admin-promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    justify-content: space-around;
    border-top: 1px solid silver;
    font-size: 16px;
    margin-left: 30px;
}

.admin-promo a {
    color: white;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 32px;
}

.admin-promo a:hover {
    color: silver;
    padding: 10px;
}


.admin-promo .admin-contact {
    font-size: 14px;
}

.flex-container-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.right-column {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    -ms-flex-preferred-size: 650px;
        flex-basis: 650px;
}

.right-column-search-page {
    flex-direction: column;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    -ms-flex-preferred-size: 650px;
        flex-basis: 650px;
}

.left-brunch-card {
    margin: 10px;
}

.breadcrumbs {
margin-top:1px;
}

.links-breadcrumbs {
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 25px;
    
}

.links-breadcrumbs::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -25px;
    width: 20px;
    height: 20px;
    background: url("../img/main22.png") no-repeat;
    opacity: 0.5;
}

.links-breadcrumbs:hover::before {
    opacity: 0.9;
}

.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid silver;
    margin-bottom: 1px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.catalog-artist-text {
    
    overflow-y: hidden;
    max-height: 400px;
    min-height: 250px;
}

.index-photo {
    object-fit: cover;
}

.item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px;
}

.right-brunch-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    width: 400px;
    height: auto;
}

.catalog-item a {
    color: #353b3d;
}

.links-breadcrumbs:hover {
    color: #353b3d;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.artist-photo img:hover {
    -webkit-transform: translateY(-7px) scale(1.05);
            transform: translateY(-7px) scale(1.05);
    opacity: 0.5;
    -webkit-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
}

.item-title {
    margin-left: 30px;
    opacity: 0.5;
    color: black;
    font-size: 18px;
}

.item-genre {
    margin-left: 30px;
    color: black;
    opacity: 0.5;
}


.item-title:hover,
.item-genre:hover {
    opacity: 1;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
}

.index-link:hover {
    color: black;
}

.text-link  {
    display: block; 
    white-space: pre-line;
    /* height: calc(25vh - 100px); */
    text-align: left;
    margin-bottom: 0;
    text-overflow: clip;
    overflow-y:hidden;
    opacity: 0.8;
    height: 200px; 
}


.text-link:hover {
    opacity: 1;
    color: black;
}

.right-column-artist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
   -ms-flex-preferred-size: 650px;
       flex-basis: 650px;
}

.right-side-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.artist-page-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 700px;
}

.right-side-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.left-side-contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
}

.artist-phone {
    width: 350px;
    text-align: center;
    font-size: 20px;
    line-height: 18px;
}

.artist-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
white-space: pre-wrap;
}




.mail {
    margin-top: 20px;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 20px;
    /*line-height: 18px;*/
}

.mail a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d3ec9), to(#302683));
    background-image: linear-gradient(#4d3ec9, #302683); 
    padding:10px;
    color: white;
    margin-left: 20px;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
border-radius: 10px;
        }

.mail a:hover {
    background: #3f3493; 
  

}

.price-artist {
    padding: 10px;
    font-size: 19px;
    line-height: 20px;
    text-align:center;
    color: gray;
}

.slider {
    /*стилизация слайдера*/
    position: relative;
    display: block;
    width: 600px;
    min-height: 400px;
    border:1px solid gray;
    margin-left: 3em;
    box-shadow: 3px 5px 5px 0px rgba(140, 140, 140, 0.75); 
    margin-top: 15px;
}

.slider input {
    display: none;
}

.slider-controls {
    height: 0px;
}

.slider-controls label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: white;
    border: 2px solid rgba(190, 190, 190, 0.8);
    cursor: pointer;
    top: 410px;
    left: 35%;
    position: relative;
    margin-right: 4px;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.square:hover {
    background: red;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border: 2px solid grey;
}

.slider-controls label:active {
    background: #4eb543;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.slider-controls label:visited {
    background: white;
}

.slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    background-size: cover;
}

.slides {
    overflow: hidden;
    height: 400px;
}

#botn-1:checked~.slider-controls label[for="botn-1"],
#botn-2:checked~.slider-controls label[for="botn-2"],
#botn-3:checked~.slider-controls label[for="botn-3"],
#botn-4:checked~.slider-controls label[for="botn-4"],
#botn-5:checked~.slider-controls label[for="botn-5"],
#botn-6:checked~.slider-controls label[for="botn-6"],
#botn-7:checked~.slider-controls label[for="botn-7"],
#botn-8:checked~.slider-controls label[for="botn-8"] {
    background: rgba(77, 77, 77, 0.5);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
}

#botn-1:checked~.active label:nth-child(8),
#botn-2:checked~.active label:nth-child(1),
#botn-3:checked~.active label:nth-child(2),
#botn-4:checked~.active label:nth-child(3),
#botn-5:checked~.active label:nth-child(4),
#botn-6:checked~.active label:nth-child(5),
#botn-7:checked~.active label:nth-child(6),
#botn-8:checked~.active label:nth-child(7) {
    background: url("../img/prev.png") no-repeat;
    position: absolute;
    top: 50%;
    left: -51px;
    display: block;
    width: 50px;
    height: 50px;
}

#botn-1:checked~.active label:nth-child(2),
#botn-2:checked~.active label:nth-child(3),
#botn-3:checked~.active label:nth-child(4),
#botn-4:checked~.active label:nth-child(5),
#botn-5:checked~.active label:nth-child(6),
#botn-6:checked~.active label:nth-child(7),
#botn-7:checked~.active label:nth-child(8),
#botn-8:checked~.active label:nth-child(1) {
    background: url("../img/next.png") no-repeat;
    position: absolute;
    top: 50%;
    left: 598px;
    display: block;
    width: 50px;
    height: 50px;
}

.active label {
    opacity: 0.3;
    cursor: pointer;
}

.active label:hover {
    opacity: 0.8;
}

.slide:nth-child(1) {
    background-image: url("../img/56940/01.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide:nth-child(2) {
    background-image: url("../img/56940/02.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide:nth-child(3) {
    background-image: url("../img/56940/03.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide:nth-child(4) {
    background-image: url("../img/56940/04.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide:nth-child(5) {
    background-image: url("../img/56940/05.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide:nth-child(6) {
    background-image: url("../img/56940/06.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide:nth-child(7) {
    background-image: url("../img/56940/07.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.slide:nth-child(8) {
    background-image: url("../img/56940/08.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

#botn-1:checked~.slides .slide:nth-child(1) {
    display: block;
}

#botn-2:checked~.slides .slide:nth-child(2) {
    display: block;
}

#botn-3:checked~.slides .slide:nth-child(3) {
    display: block;
}

#botn-4:checked~.slides .slide:nth-child(4) {
    display: block;
}

#botn-5:checked~.slides .slide:nth-child(5) {
    display: block;
}

#botn-6:checked~.slides .slide:nth-child(6) {
    display: block;
}

#botn-7:checked~.slides .slide:nth-child(7) {
    display: block;
}

#botn-8:checked~.slides .slide:nth-child(8) {
    display: block;
}

img {
    display: block;
}

.catalog-photo-img {
    object-fit: contain;
    height: calc(100%-180px);
    width: 230px;
    background: transparent;
}

/*стилизация слайдера закончена*/

.videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px;
    margin-right: 0px;
   -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 40px;
}

.artist-text-edit {
    background: lavenderblush;
    border:1px solid rgb(204, 21, 37);
    cursor: pointer;
    padding: 10px;
}





.video-artist-page {
    cursor: pointer;
    /* position: relative; */
    width: 200px;
}

.video-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
   font-size: 25px;
   font-weight:100;
   width: 200px;
    border-radius: 30px;
   padding: 5px;
   color:white;
    align-items: center; 
    background-image: linear-gradient(#4d3ec9, #302683);
    margin: 0 auto;
}


.pop-up {
    position:fixed;
    background: white;
    margin: 0 auto;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid rgba(190, 190, 190, 1);
    padding: 20px 25px 20px 25px;
    -webkit-box-shadow: 2px 2px 3px rgba(19, 19, 19, 0.9);
            box-shadow: 2px 2px 3px rgba(19, 19, 19, 0.9);
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 400;
    transition: opacity 200ms ease-in; 
    margin-top: 20px;
    overflow-y: auto; 
    width: 600px;
    height: 80vh; 
    max-height: 1400px;
}

input {
    font-size: 16px;
    padding-left: 10px;
}

.pop-up-close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: white;
    border: 0;
    cursor: pointer;
    z-index: 50000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pop-up-close::before,
.pop-up-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 25px;
    height: 3px;
    background-color: #ee3643;
    border-radius: 0px;
    padding-left: 0px;
}

.pop-up-close::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.pop-up-close::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.pop-up-close:hover::before,
.pop-up-close:hover::after {
    background: blue;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
}



legend {
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: #302683;
    -webkit-box-shadow: 2px 2px 2px rgba(19, 19, 19, 0.9);
            box-shadow: 2px 2px 2px rgba(19, 19, 19, 0.9);
    text-align: center;
}

.legend-btn {
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-family: "PT Sans";
    /* background: #302683; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    filter:hue-rotate(220deg);
    -webkit-box-shadow: 2px 2px 2px rgba(19, 19, 19, 0.9);
            box-shadow: 2px 2px 2px rgba(19, 19, 19, 0.9);
    text-align: center;
margin-bottom: 10px;
}

.legend-btn-slider {
    margin-top: 50px;
}

.advice {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 25px;
    color: rgb(204, 21, 37);
}
.name-artist-pop-up,
.style-artist,
.price-artist-pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px;
    margin: 0 auto;
    font-size: 14px;
}

.name-artist-pop-up input {
    border:1px solid gray;
    margin-bottom: 10px;
}

.pop-up-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   margin: 0 auto;
            margin-top: 50px;
}

#name,
#mail,
#tel1 {
background: rgb(213, 214, 231);
}

.send-btn {
    -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    line-height: 24px;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    border: 2px solid silver;
    padding: 10px 40px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.send-btn:hover {
    background: transparent;
    color: rgba(222, 0, 0, 1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.send-btn:active {
    color: #ff7168;
}

fieldset {
    border:none;
}



.description-little,
.description-max,
.video-links-pop-up,
.email-field,
.site-field,
.phone-pop-up {
    font-size: 14px;
    width: 398px;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
}

.add-artist-form input {
    width: 388px;
    margin: 0 auto;
    border: 1px solid gray;
    height: 30px;
}

.add-artist-form select {
    width: 400px;
    margin: 0 auto;
    border: 1px solid gray;
    height: 30px;
}


.edit-photo-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.edit-photo-div {
    margin-right: 25px;
}


.add-artist-form label {
    font-size: 20px;
    margin: 16px;
}




@keyframes modal-pop-up {
    0% {
        top:-300px;
        opacity: 0;
        transform: rotateX(60deg);
    }

    50% {
    top:400px;
}
}


.modal-content-show2 {
    display: block;
}

.audio-block {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-ms-flex-pack: distribute;
    justify-content: space-around;
margin-top:20px; 
margin-left: 30px;
width: 60%;
}

.audio-block p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom:10px;
}

.center-column__card {
    font-size: 23px;
    display: flex;
    color:white;
    /* background: #4eb543; */
    color:darkolivegreen;
    background: gainsboro;
    width: 300px;
    border:1px solid gainsboro;
    margin-right: 20px;
    margin-bottom: 5px;
}

.center-column__house {
    color: rgb(57, 59, 53);
    font-size: 19px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.center-column__house:hover {
    filter: sepia(100%); 
}

.center-column__card:hover {
    background: transparent;
    border: 1px solid transparent;
  
}

.center-column__link:active {
    background: gainsboro;
    filter: blur(6px);

}

.center-column__filter-price {
    color:black;
    line-height: 30px;
    font-size:23px;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;

}

.center-column__avatar {
    width: 100px;
    object-fit: cover; 
}

.center-column__img {
    width: 100px;
}

.center-column__who {
    overflow-x: hidden;
    width: 200px;
}

.center-column__link {
    text-align: center;
    display: flex;
    color: rgb(57, 59, 53);
    width: 300px;
    text-decoration: none;
}

.center-column__style {
    padding-top: 5px;
    line-height: 30px;
    font-size: 20px;
    display: block; 
    width: 200px;
}

.center-column__price {
    color: rgb(204, 21, 37);
    line-height: 30px;
    font-size: 30px;
}

.center-column_name {
    font-weight: 100px;
    line-height: 30px;
    white-space: pre;
    font-size:20px;
}

.additional-right-column {
    margin-top: 120px;
}

.base-words {
    border-top: 1px solid gainsboro;
    width: 100%;
    color:gray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;

}

.catalog-h1-wrapper {
    justify-content: center;
    min-width: 300px;  
    display: flex;
    padding-left: 50px;
    padding-right: 20px; 
    line-height: 0;
    margin-top: 15px;
    font-weight:100;
    border-radius:30px;
    filter:drop-shadow(10px 5px 10px gray);
    text-align:center;
    color: white;
    background: #4eb543;
    /* font-size: 1em; */
    position:relative;
    margin-bottom: 30px;
}

.catalog-h1 {
    font-weight:400;
    padding-right: 20px;
   
}

.catalog-h1-img {
    display: flex;
    align-self: center;
}

.right-column__header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.right-column__slogan {
    text-align: center;
    font-size: 20px;
    filter:drop-shadow(10px 5px 10px gray);
    font-weight: 100;
    line-height: 30px;
    color:gray;
   
}

.base-words__link {
    color: gray;
    text-decoration: underline; 
    font-size: 22px;
    background: gainsboro;
}

.base-words__link:hover {
    color:rgba(0, 0, 0, 0.9);
    text-decoration: underline;
}

.site__link {
    /* width: 150px; */
    background-image: linear-gradient(#4d3ec9, #302683); 
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color:white;
    align-self: center;
    display: flex;
}

.city {
    align-self: center;
    line-height: 35px;
    color: gray;
    font-size: 30px;

}
    


.mail {
    margin-bottom: 10px;
    width: 400px;
}

button {
    cursor: pointer;
}

.video-link {
    position: relative;
}

.video-link::after {
    position: absolute;
    background: url("../img/youtube-btn.png") no-repeat 0 0;
    content:"";
    width: 60px;
    height: 60px;
    top: -107px;
    left: 72px;
}

.container-search-cards {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
span.ellipse.clickable {
	cursor: pointer;
}

.ellipse input {
	width: 3em;
}

/*------------------------------------*\
	Compact Theme Styles
\*------------------------------------*/
.compact-theme span {
	cursor:pointer;
}

.compact-theme a, .compact-theme span {
	float: left;
	color: #333;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	border-left: none;
	min-width: 14px;
	padding: 0 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.compact-theme a:hover, .compact-theme li:not(.disabled):not(.active) span:hover {
	text-decoration: none;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* W3C */
}

.compact-theme li:first-child a, .compact-theme li:first-child span {
	border-left: 1px solid #AAA;
	border-radius: 3px 0 0 3px;
}

.compact-theme li:last-child a, .compact-theme li:last-child span {
	border-radius: 0 3px 3px 0;
}

.compact-theme .current {
	background: #bbbbbb; /* Old browsers */
	background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* W3C */
	cursor: default;
}

.compact-theme .ellipse {
	background: #EAEAEA;
	padding: 0 10px;
	cursor: default;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
.light-theme span {
	cursor:pointer;
}

.light-theme a, .light-theme span {
	float: left;
	color: #666;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
	text-decoration: none;
	background: #FCFCFC;
}

.light-theme .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

/*------------------------------------*\
	Dark Theme Styles
\*------------------------------------*/
.dark-theme span {
	cursor:pointer;
}

.dark-theme a, .dark-theme span {
	float: left;
	color: #CCC;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #222;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #555; /* Old browsers */
	background: -moz-linear-gradient(top, #555 0%, #333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555 0%,#333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555 0%,#333 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #555 0%,#333 100%); /* IE10+ */
	background: linear-gradient(top, #555 0%,#333 100%); /* W3C */
}

.dark-theme a:hover, .dark-theme li:not(.disabled):not(.active) span:hover {
	text-decoration: none;
	background: #444;
}

.dark-theme .current {
	background: #222;
	color: #FFF;
	border-color: #000;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
	cursor: default;
}

.dark-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

.center-column-404 {
    margin: 0 auto;
    padding: 20px;
    height: 130vh;
    text-align: center;
    font-size:23px;
}

.svg404 {
    width: 500px;
    margin: 0 auto;
    animation-name: svgan;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

 /* @keyframes svgan {
  0% {  opacity: 0;
  height: 0;
} */

/* }  */

#svg_1 {
    font-family:"Cuprum";
    /* fill:#302683; */
    /* opacity: 0; */
}

#svg_15 {
    fill:rgba(13,255,33,1);   
    /* animation-name: hart;
    animation-duration: 7s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; */
}

#svg_12 { /* fill: gold; */
    /* opacity: 0.5;  */
    fill:#302683;
    animation-name: hart;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

#svg_6 {
    fill:#302683;
    animation-name: hart2;
    animation-delay: 0.4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: scale(1.05); 
}

@keyframes hart2 {
    50% {
        opacity: 0.2;
        /* width: 0;
        height: 0; */
        transform: scale(0.98) skewY(-1deg);
    }
}


@keyframes star {
    0% {
    }
   30% { width: 0; 
        fill:   gold;
       transform: scale(0.9) rotate(-5deg); 
         /* fill: gold; */
   
  }
   50% {
      transform: rotate(-7deg) scale(1);
  }
   
  70% {
      left:30px;
    transform:rotate(3deg);
  }
  
  100% {
     /* transform: rotate(5deg); */
    transform: scale(1);
  }
  100% {
      
  }
}

#svg_16,
#svg_5 {
    animation-name: hart;
    animation-delay: 0.3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes hart {
    0% {
       width: 0;
        opacity: 0.8;
    }
50% {
    transform: scale(0.98) rotate(-3deg);
}
}

.repeat-parol {
    cursor: pointer;
    background-image: linear-gradient(#4d3ec9, #302683);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 15px;
    margin: 0 auto;
    margin-left: 87px;
    margin-top: 15px;
    width: 150px;
}

.repeat-parol:hover {
    opacity: 0.3;
}

.pop-up-repeat-login {
    margin: auto; 
    background:white;
    z-index: 1000;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    position: fixed;
    width: 400px;
    height: 250px;
    display: none;
}

.repeat-close {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    line-height: 28px;
    cursor: pointer;
    /* display: flex; */
    margin-left: 320px;
    padding: 3px 11px;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    font-size: 30px;
    color:white;
}



.modal-content-show2 {

    animation-name: modal-pop-up;
    animation-duration: 1s;
    display: block;
}

.repeat-btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7168), color-stop(#de0000), to(#a70000));
    background-image: linear-gradient(#ff7168, #de0000, #a70000);
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    padding: 5px 50px;
    color: white;
   
}

.repeat-close:hover,
.repeat-btn:hover {
    filter: hue-rotate(230deg);
}

.edit-form-checkbox {
    font-size: 20px;
}

.repeat-captcha {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal-content-show {

    animation-name: modal-pop-up;
    animation-duration: 1s;
    display: block;
}

.modal-content-show3 {

    animation-name: modal-pop-up;
    animation-duration: 1s;
    display: block;
}